html, body{
	padding: 0;
	margin: 0;
}

.canvasContainer{
	margin: 10px;	
}

#backgroundCanvas{
	position: absolute;
	border: 1px solid black;
	z-index: 1;
}

#mainCanvas{
	position: absolute;
	border: 1px solid black;
	z-index: 2;
}

.optionsContainer{
	width: 100px;
	margin-left: 550px;
	display: inline-block;
}

.shapeChoice{
	display: inline-block;
	text-align: center;
	width: 100px;
	padding: 20px;
	margin-bottom: 10px;
	background-color: black;
	color: white;
	border-radius: 10px;
}

.shapeChoice:hover{
	background-color: rgb(50, 50, 50);
}

.choices{
	display: inline-block;
	text-align: center;
	width: 100px;
	padding: 20px;
	margin-bottom: 10px;
	background-color: black;
	color: white;
	border-radius: 10px;
}

.choices:hover{
	background-color: rgb(50, 50, 50);
}
