html, body{
	padding: 0;
	margin: 0;
}

.canvasContainer{
	margin: 10px;	
}

#backgroundCanvas{
	position: absolute;
	border: 1px solid black;
	z-index: 1;
}

#mainCanvas{
	position: absolute;
	border: 1px solid black;
	z-index: 2;
}

.optionsContainer{
	width: 150px;
	margin-left: 550px;
	display: inline-block;
}

.choices{
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	background-color: black;
	color: white;
	border-radius: 10px;
}

.choices:hover{
	background-color: rgb(50, 50, 50);
	cursor: pointer;
}

.optionsContainer div{

	-moz-user-select: none;

	-webkit-user-select: none;

	user-select: none;
}

.attributeChoice{
	height: 32px;
	line-height: 32px;
	margin-bottom: 10px;
}

.attributeChoice .sp-replacer{
	float: right;
	cursor: pointer;
}

.slider-container{
	margin-top: 15px;
}

#textBox{
	display: none;
}
